In [48]:
import pandas as pd

In [49]:
data = pd.read_csv('master.csv', usecols=['country', 'year', 'sex', 'age', 'suicides_no', 'population', 'suicides/100k pop', 'cod_pais', 'faixa_etaria'])
grafic = pd.read_csv('master.csv', usecols=['country', 'year', 'sex', 'age', 'suicides_no', 'population', 'suicides/100k pop', 'cod_pais', 'faixa_etaria'])

In [50]:
data.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,cod_pais,faixa_etaria
0,Albania,1987,male,15-24 years,21,312900,6.71,1,1
1,Albania,1987,male,35-54 years,16,308000,5.19,1,3
2,Albania,1987,female,15-24 years,14,289700,4.83,1,1
3,Albania,1987,male,75+ years,1,21800,4.59,1,6
4,Albania,1987,male,25-34 years,9,274300,3.28,1,2

In [51]:
dados = {
    
    'pais': data['country'],
    'ano': data['year'],
    'sexo': data['sex'],
    'idade': data['age'],
    'num_suicidio': data['suicides_no'],
    'populacao': data['population'],
    'suicidio_por_hab': data['suicides/100k pop'],
    'cod_pais' : data['cod_pais'],
    'faixa_etaria' : data['faixa_etaria']
}

In [52]:
data = pd.DataFrame(dados)

In [53]:
data.head()

,pais,ano,sexo,idade,num_suicidio,populacao,suicidio_por_hab,cod_pais,faixa_etaria
0,Albania,1987,male,15-24 years,21,312900,6.71,1,1
1,Albania,1987,male,35-54 years,16,308000,5.19,1,3
2,Albania,1987,female,15-24 years,14,289700,4.83,1,1
3,Albania,1987,male,75+ years,1,21800,4.59,1,6
4,Albania,1987,male,25-34 years,9,274300,3.28,1,2

In [54]:
##data['sexo'] = data['sexo'].replace('male',0)
##data['sexo'] = data['sexo'].replace('female',1)

In [55]:
data.head(5)

,pais,ano,sexo,idade,num_suicidio,populacao,suicidio_por_hab,cod_pais,faixa_etaria
0,Albania,1987,male,15-24 years,21,312900,6.71,1,1
1,Albania,1987,male,35-54 years,16,308000,5.19,1,3
2,Albania,1987,female,15-24 years,14,289700,4.83,1,1
3,Albania,1987,male,75+ years,1,21800,4.59,1,6
4,Albania,1987,male,25-34 years,9,274300,3.28,1,2

In [56]:
from sklearn.model_selection import train_test_split


atributos=data[['cod_pais', 'ano', 'faixa_etaria', 'num_suicidio']] 
classes=data['sexo'] 



X_train, X_test, y_train, y_test = train_test_split(atributos, classes, test_size=0.6) # 40% training and 60% test

In [57]:
from sklearn.ensemble import RandomForestClassifier

randForest=RandomForestClassifier(n_estimators=30)  
#n_estimators é a quantidade de árvores que o algoritmo deve tentar gerar


randForest.fit(X_train,y_train) #construção do modelo

y_pred=randForest.predict(X_test)
y_pred

array(['male', 'female', 'male', ..., 'male', 'male', 'male'],
      dtype=object)

In [58]:
from sklearn import metrics

# Model Accuracy, how often is the classifier correct?
print("Accuracia:",metrics.accuracy_score(y_test, y_pred))



randForest.predict([[16, 1, 2020, 3]])

Accuracia: 0.7540738078121255

array(['female'], dtype=object)

In [59]:
import pandas as pd

atribImportancias = pd.Series(randForest.feature_importances_,  index=grafic.feature_names).sort_values(ascending=False)


import seaborn as sns
import matplotlib.pyplot as plt


sns.barplot(x=atribImportancias, y=atribImportancias.index)
# Add labels to your graph


plt.xlabel('% de quão importante são os Atributos (importâncias)')
plt.ylabel('Atributos')
plt.title("Importância dos atributos")
plt.show()




# agora que sabemos que sepal width é o atributo menos importante, 
#por que não realizar novamente um processo de classificação 
#sem considerar este atributo pouco importante????????/




#TREINAMENTO:   REALIZAR NOVAMENTE A CLASSIFICAÇÃO SEM CONSIDERAR O ATRIBUTO MENOS IMPORTANTE.

AttributeError: 'DataFrame' object has no attribute 'feature_names'