# A partir do texto da aula (slide 17)  Construa uma bag of words e identifique o assunto o qual esse texto está relacionado

In [1]:
with open("entrada.txt", "r", encoding="utf-8") as f:
        text = " ".join(f.readlines())

In [3]:
# print(text)

# Após a construção da bag of words, busque textos na internet e submeta à comparação com a bag of words para identificar se o assunto é relacionado.

In [7]:
import numpy as np

x = np.arange(100)
y = np.arange(100)
z = np.arange(100)
import pandas as pd
pd.DataFrame([x, y, z])

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
1,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
2,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99